packrat/lib*/
.Rproj.user
.Rhistory
*.pdf
*.ai
*.doc*
*.xls*
*.ppt*
*.jpg
*.pdf
*.tif
*.tar.gz
*.rds
*.rda
*.log
extdata/images/*
*.eml
archive*
*.DS_Store
scratch*
*.scriv
*site_libs*
manuscript/drafts*
figures*
extdata/ncrivers*
extdata/MajorHydro*
extdata/Municipal*
*Rproj
*_cache*

.envrc
