packrat/lib*/
.Rproj.user
*.pdf
*.ai
*.doc*
*.xls*
*.ppt*
*.jpg
*.png
*.pdf
*.tif
*.tar.gz
*.rds
*.rda
*.log
extdata/images/*
*.eml
archive*
*.DS_Store
scratch*
*.scriv
*site_libs*
*.html
manuscript/drafts*
figures*
